@import '../../styles/main.scss';

.introduction {
    color: $color-tertiary;
    @include flex(column, flex-start, center, 60px);
    width: 75%;
    @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
    }
}