@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import './main.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', serif;
    font-style: normal;
}

body {
    padding-top: 40px;
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-mobile){
        padding-top: 20px;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to left, rgb(27, 20, 41), rgb(20, 15, 35));
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-mobile){
        padding: 0px 20px;
    }
}